body {
  font-family: verdana, sans-serif;
  margin: 1em;
  box-sizing:border-box;}

.container {
  display:grid;
  grid-column-gap: 1em;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "h h"
                       "m a"
                       "f f";}

header {
  grid-area: h;}

main {
  grid-area: m;}

aside {
  grid-area: a;}

footer {
  grid-area: f;}


h1, h2, h3, h4 {
  margin: 10; 
  letter-spacing: 0.05em;
  word-spacing: 0.1em;}

h1 {
  margin: 20;}

h2 {
  margin: 40 0 20 0; 
  border-bottom-style: solid;}
  
p {
  margin: 10px; }

a {
  text-decoration: none;}

div.disciplinas {
  border: 1px solid;
  margin: 5px;
  width:13em;
  float:left;}
  
.blue {
  color: #203040;}
.blue a {
  color: #203040; }
.blue a:hover {
  color: darkblue;
  text-decoration: underline;}

.red {
  color: #402030;}
.red a {
  color: #402030;}
.red a:hover {
  color: darkred;
  text-decoration: underline;}

.green {
  color: #304020;}
.green a {
  color: #304020;}
.green a:hover {
  color: darkgreen;
  text-decoration: underline;}

.gray {
  color: #707070;}
.gray a {
  color: #707070;}
.gray a:hover {
  color: darkgray;
  text-decoration: underline;}


