div {
  margin: 0px;
}

body {
  background: #FFFFFF;
  color: #405090;
  font-family: verdana, sans-serif;}

a {
  color: blue;
  text-decoration: none;}

a:hover {
  /*font-weight: bold;*/
  text-decoration: underline;
  color: darkblue;}

div.disciplina { 
  position: relative;
  margin: 2px;
  padding: 6px;
  border: 1px solid #0090E0;}

.enfeite {
  text-shadow: 3px 3px 0px blue;
  text-align: right;
  font-size: 200%;
  color: #90A0FF;
  float: right;
  position: absolute;
  right: 10px;
  top: 0px;
  font-weight: bold;
  font-style: italic;
  opacity: 0.1;
  z-index: -1;}

