body {
  font-family: verdana, sans-serif;}

div {
  margin: 0px; }

h1, h2, h3, h4, p {
  margin: 10; }

.blue {
  color: #405070;}

.blue a {
  color: darkblue;
  text-decoration: none;}

.blue a:hover {
  text-decoration: underline;
  color: blue;}

.red {
  color: #704050;}

.red a {
  color: darkred;
  text-decoration: none;}

.red a:hover {
  text-decoration: underline;
  color: red;}


.green {
  color: #507040;}

.green a {
  color: darkgreen;
  text-decoration: none;}

.green a:hover {
  text-decoration: underline;
  color: green;}

.gray {
  color: #606060;}

.gray a {
  color: darkgray;
  text-decoration: none;}

.gray a:hover {
  text-decoration: underline;
  color: gray;}


